.app {
  height: 100vh;
  position: relative;

  .section {
    width: 100%;
    height: calc(100vh - 70px);
    // background-color: yellow;
    background-color: white;

    position: relative;
    top: 70px;

    scroll-behavior: smooth;
    // implement snap scroll effect
    scroll-snap-type: y mandatory;

    // make scrollbar invisible
    scrollbar-width: none; // works in firefox
    // for other browsers - chrome safari edge
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
